<fieldset>
	<legend>Nový člen systému</legend>
	<form class="form-horizontal" id="personForm" ng-submit="addPerson()">
		<div class="form-group">
			<label for="name" class="control-label col-xs-2">Jméno</label>
			<div class="col-xs-8">
				<input type="text" id="name" name="name" class="form-control" ng-model="person.name">
			</div>
		</div>
		<div class="form-group">
			<label for="address" class="control-label col-xs-2">Adresa</label>
			<div class="col-xs-8">
				<input type="text" id="address" name="address" class="form-control" ng-model="person.address">
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button ng-show="!send" type="submit" class="btn btn-primary">Přidat</button>
			</div>
		</div>
	</form>
</fieldset>
<script>
/*
$(document).ready(function(){
	$('#personForm').bootstrapValidator({
		fields : {
			name: {
				validators: {
					notEmpty: {
						message: 'Vyplň jméno jedince'
					},
					stringLength: {
						min: 4,
						max: 10,
						message: 'Jméno musí mít 4-10 znaků'
					}
				}
			},
			address: {
				validators: {
					notEmpty: {
						message: 'Vyplň, kde jedinec bydlí'
					}
				}
			}
		},
		submitHandler: null
	});
});
*/
</script>