<fieldset>
	<legend>Úprava člena systému</legend>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="name" class="control-label col-xs-2">Jméno</label>
			<div class="col-xs-8">
				<input type="text" id="name" class="form-control" ng-model="person.name">
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="control-label col-xs-2">Adresa</label>
			<div class="col-xs-8">
				<input type="text" id="name" class="form-control" ng-model="person.address">
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button ng-click="updatePerson()" ng-show="!send" class="btn btn-primary">Upravit</button>
			</div>
		</div>
	</form>
</fieldset>