/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/
!bin/console
!bin/symfony_requirements
/composer.phar
composer.lock
/src/Sokol/FrontendBundle/resources/public/lib/*
!/src/Sokol/FrontendBundle/resources/public/lib/.gitkeep
/nbproject/private/
/src/Syngular/FrontendBundle/Resources/public/lib/