/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
!bin/console
/composer.phar
composer.lock
/src/Sokol/FrontendBundle/resources/public/lib/*
!/src/Sokol/FrontendBundle/resources/public/lib/.gitkeep
/nbproject/private/
/src/Syngular/FrontendBundle/Resources/public/lib/
/bin/symfony_requirements
/bin/doctrine.php
/bin/doctrine.bat
/bin/doctrine.php.bat
/bin/doctrine